.App {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

input {
  padding: 5px;
  margin: 10px;
}

button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

p {
  margin-top: 20px;
}
